
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content custom-modal">
    <div class="modal-header border-0 pb-0">
      <div>
        <h1 class="modal-title fs-5 fw-bold">
          {{ esEdicion ? 'Editar Partido' : 'Programar Nuevo Partido' }}
        </h1>
        <p class="text-muted mb-0" *ngIf="!esEdicion">Completa la información</p>
        <p class="text-muted small" *ngIf="esEdicion">Modifica los nombres de los equipos y las puntuaciones</p>
      </div>
      <button type="button" class="btn-close" (click)="cancelar()" aria-label="Close"></button>
    </div>

    <form [formGroup]="form" (ngSubmit)="guardar()">
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label fw-bold">Equipos (Simulación)</label>
          <div class="row g-2">
            <div class="col-6">
              <select class="form-select custom-input" formControlName="idEquipoLocal">
                <option value="0" disabled>Local</option>
                <ng-container *ngFor="let equipo of data.equipos">
                  <option [value]="equipo.idEquipo">{{equipo.nombreEquipo}}</option>
                </ng-container>
              </select>
              <input type="number" class="form-control mt-2 custom-input" placeholder="Puntos Local" formControlName="puntosLocal">
            </div>
            <div class="col-6">
              <select class="form-select custom-input" formControlName="idEquipoVisitante">
                <option value="0" disabled>Visitante</option>
                <ng-container *ngFor="let equipo of data.equipos">
                  <option [value]="equipo.idEquipo">{{equipo.nombreEquipo}}</option>
                </ng-container>
              </select>
              <input type="number" class="form-control mt-2 custom-input" placeholder="Puntos Visitante" formControlName="puntosVisitante">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 p-3" *ngIf="!esEdicion">
        <button type="submit" class="btn btn-save w-100" [disabled]="form.invalid">
          Guardar
        </button>
      </div>
      <div class="modal-footer border-0 d-flex justify-content-between" *ngIf="esEdicion">
        <button type="submit" class="btn btn-save-edit flex-grow-1 me-2" [disabled]="form.invalid">
          Guardar Cambios
        </button>
        <button type="button" class="btn btn-cancel-edit" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
