<app-header></app-header>

<div class="d-flex justify-content-center w-100 my-4">
    <div class="tabs-container d-flex align-items-center">
      <button class="btn-volver d-flex align-items-center me-3">
        <button class="nav-link" [routerLink]="['']"><i class="bi bi-arrow-left me-1"></i> Volver</button> 
      </button>
    
      <ul class="nav nav-pills custom-tabs p-2">
        <li class="nav-item">
          <button class="nav-link active" [routerLink]="['/']">Partidos</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [routerLink]="['/']">Material</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [routerLink]="['/']">Capitanes</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [routerLink]="['/']">Equipos</button>
        </li>
      </ul>
    </div>
</div>
