<app-header></app-header>

<div class="d-flex justify-content-center w-100 my-4">
    <div class="tabs-container d-flex align-items-center">
      <button class="btn-volver d-flex align-items-center me-3">
        <a class="nav-link" [routerLink]="['/detallesEvento']"><i class="bi bi-arrow-left me-1"></i> Volver</a> 
      </button>
    
        <ul class="nav nav-pills custom-tabs p-2">
            <li class="nav-item">
                <a class="nav-link" 
                [routerLink]="['/partidosActividad']"
                [class.active]="opcionSeleccionada === 'partidos'">Partidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                [routerLink]="['/materialesActividad']"
                [class.active]="opcionSeleccionada === 'materiales'">Materiales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                [routerLink]="['/capitanesActividad']"
                [class.active]="opcionSeleccionada === 'capitanes'">Capitanes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                [routerLink]="['/equiposActividad']"
                [class.active]="opcionSeleccionada === 'equipos'">Equipos</a>
            </li>
        </ul>
    </div>
</div>